# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [3]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [5]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [6]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [12]:
datagrouped=data.groupby(["CustomerID","ProductName"]).sum()

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [14]:
pivot_table=pd.pivot_table(datagrouped,fill_value=0,index="ProductName",columns=["CustomerID"],values="Quantity")

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [81]:


distances = pdist(pivot_table.T, "euclidean")

distance = pd.DataFrame(1/(1 + squareform(distances)), 
                          index=pivot_table.columns,columns=pivot_table.columns)
distance

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [29]:
customerID=33

similar=distance[customerID].sort_values(ascending=False).index.values[1:6]
similar

array([ 264, 3535, 3317, 2503, 3305])

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [31]:
recordssimilarid=datagrouped.loc[similar]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [50]:
recordssimilarid=recordssimilarid.groupby("ProductName").sum().sort_values(by="Quantity",ascending=False)

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [64]:
z=recordssimilarid.merge(datagrouped.loc[customerID],on="ProductName",how="right")
z=z[z.Quantity_x.isna()].sort_values(by="Quantity_y",ascending=False)["ProductID_y"][0:5]
data.loc[z]["ProductName"].values

array(['Cheese Cloth No 100', 'Cheese Cloth No 100',
       'Arizona - Green Tea', 'Arizona - Green Tea',
       'Cheese Cloth No 100'], dtype=object)

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [78]:
def doit():
    recomendations={}
    ID_costumers=set(data["CustomerID"].values)

    for costumer in ID_costumers:
        similar=distance[costumer].sort_values(ascending=False).index.values[1:6]
        recordssimilarid=datagrouped.loc[similar]    
        recordssimilarid=recordssimilarid.groupby("ProductName").sum().sort_values(by="Quantity",ascending=False)
        z=recordssimilarid.merge(datagrouped.loc[customerID],on="ProductName",how="right")
        z=z[z.Quantity_x.isna()].sort_values(by="Quantity_y",ascending=False)["ProductID_y"][0:5]
        recomendations.update({costumer:data.loc[z]["ProductName"].values})
    return recomendations

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [79]:
df=pd.DataFrame.from_dict(recomendations,orient="index").reset_index()
df.columns=["CustomerID","Product 1","Product 2","Product 3","Product 4","Product 5"]
df.head()

,CustomerID,Product 1,Product 2,Product 3,Product 4,Product 5
0,83973,Arizona - Green Tea,Cheese Cloth No 100,Cheese Cloth No 100,Bread - Hot Dog Buns,Arizona - Green Tea
1,59399,"Rosemary - Primerba, Paste",Beer - Original Organic Lager,Cheese Cloth No 100,Arizona - Green Tea,Arizona - Green Tea
2,92168,Beer - Original Organic Lager,"Rosemary - Primerba, Paste",Cheese Cloth No 100,Cheese Cloth No 100,Arizona - Green Tea
3,49159,Beer - Original Organic Lager,Arizona - Green Tea,Arizona - Green Tea,Arizona - Green Tea,Bread - Hot Dog Buns
4,18441,Arizona - Green Tea,Beer - Original Organic Lager,Arizona - Green Tea,Arizona - Green Tea,Arizona - Green Tea

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [83]:

distances = pdist(pivot_table.T, "correlation")

distance = pd.DataFrame(1/(1 + squareform(distances)), 
                          index=pivot_table.columns,columns=pivot_table.columns)
distance

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.493776,0.529677,0.510360,0.506951,0.507217,0.487410,0.497932,0.499215,0.502499,...,0.493385,0.484376,0.493486,0.479867,0.499870,0.479764,0.493197,0.486457,0.491384,0.492072
200,0.493776,1.000000,0.499733,0.498575,0.482172,0.481921,0.519139,0.480599,0.499131,0.505459,...,0.504719,0.496170,0.517884,0.508954,0.492581,0.484514,0.534491,0.500253,0.484272,0.488735
264,0.529677,0.499733,1.000000,0.497579,0.513573,0.490305,0.503243,0.480936,0.502028,0.490242,...,0.508803,0.490805,0.499750,0.499162,0.517743,0.525278,0.511845,0.503500,0.515736,0.490875
356,0.510360,0.498575,0.497579,1.000000,0.490143,0.489778,0.501933,0.507803,0.482686,0.486354,...,0.499105,0.486660,0.498662,0.502228,0.494239,0.496086,0.484207,0.502204,0.506401,0.500631
412,0.506951,0.482172,0.513573,0.490143,1.000000,0.497577,0.505111,0.512470,0.493947,0.507777,...,0.488109,0.529502,0.492033,0.495264,0.504752,0.500064,0.481259,0.502418,0.505997,0.515015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.479764,0.484514,0.525278,0.496086,0.500064,0.507963,0.504739,0.499300,0.500268,0.492619,...,0.494577,0.504692,0.487604,0.510055,0.534474,1.000000,0.525583,0.508923,0.492050,0.482921
98069,0.493197,0.534491,0.511845,0.484207,0.481259,0.484219,0.496892,0.490306,0.495330,0.506038,...,0.489353,0.499742,0.493332,0.484621,0.518025,0.525583,1.000000,0.511707,0.501063,0.498897
98159,0.486457,0.500253,0.503500,0.502204,0.502418,0.499195,0.500240,0.502118,0.510333,0.502173,...,0.505074,0.522726,0.500553,0.489177,0.506341,0.508923,0.511707,1.000000,0.504367,0.495580
98185,0.491384,0.484272,0.515736,0.506401,0.505997,0.489667,0.487961,0.511136,0.500094,0.480046,...,0.483728,0.470481,0.497652,0.494943,0.490103,0.492050,0.501063,0.504367,1.000000,0.505914
98200,0.492072,0.488735,0.490875,0.500631,0.515015,0.516325,0.495461,0.496775,0.483588,0.514917,...,0.491940,0.491017,0.509511,0.491520,0.501261,0.482921,0.498897,0.495580,0.505914,1.000000

In [84]:
newrecom=doit()

In [85]:
df=pd.DataFrame.from_dict(newrecom,orient="index").reset_index()
df.columns=["CustomerID","Product 1","Product 2","Product 3","Product 4","Product 5"]
df.head()

,CustomerID,Product 1,Product 2,Product 3,Product 4,Product 5
0,83973,Arizona - Green Tea,Cheese Cloth No 100,Cheese Cloth No 100,Bread - Hot Dog Buns,Arizona - Green Tea
1,59399,"Rosemary - Primerba, Paste",Beer - Original Organic Lager,Cheese Cloth No 100,Arizona - Green Tea,Arizona - Green Tea
2,92168,Beer - Original Organic Lager,"Rosemary - Primerba, Paste",Cheese Cloth No 100,Cheese Cloth No 100,Arizona - Green Tea
3,49159,Beer - Original Organic Lager,Arizona - Green Tea,Arizona - Green Tea,Arizona - Green Tea,Bread - Hot Dog Buns
4,18441,Arizona - Green Tea,Beer - Original Organic Lager,Arizona - Green Tea,Arizona - Green Tea,Arizona - Green Tea